@font-face { 
  font-display: swap;
  font-family: 'KFGQPC Uthman Taha Naskh'; 
  src: url('fonts/uthman-taha-naskh.woff2'); 
  unicode-range: U+600-6FF, U+FB50-FDFF, U+FE70-FEFF; 
}

html {
  font: 24px/1.6 'Times New Roman', Times, 'Times Roman';
  background: #fbf1c7;
  color: #655a3d;
}

body {
  max-width: 75%;
  margin: 1em auto;
  text-align: justify;
}

main[dir=rtl], article[dir=rtl], li a {
  direction: rtl;
  font-family: 'KFGQPC Uthman Taha Naskh';
}

h1,h2,#title{border-bottom:3px double;padding-bottom:.5em}

header {
  margin: 0 auto;
  text-align:center;
}

header img {
  max-height:12em;
}

p {
  margin-bottom: 0.8em;
}

a {
  color: #8c1919;
  text-decoration: none;
}


article img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-height: 100%;
}

time {
  color: #655a3d;
  margin-right: 25px;
}

#title {
  text-align: center;
  font-size: 68px;
}

#date {
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

ol {
  list-style: none;
}

li { 
  margin-top:.5em;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
    font-size: 20px;
    padding: 0 .5em;
  }

  time {
    margin-right:5px;
  }
  ol {
    margin:0;
    padding:0;
  }
  #title {
    font-size: 36px;
  }

  #date {
    font-size: 16px;
  }
}

